.aside-content-container {
  padding: 20px 40px;
  border: 3px solid #685752;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
  grid-column: 3;
}

.aside-content-container:before {
  content: "";
  border: 2px solid #685752;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.aside-heading {
  font-size: 1.625rem;
}

.aside-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: #8eb486;
}

.aside-edit {
  color: #000;
}
